<!DOCTYPE html>
<html lang="en" class="bg-blue-dark">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column min-vh-100 bg-blue-dark">
    {%- if site.enableNotification == true -%}
      {%- include partials/notification.html -%}
    {%- endif -%}
    {%- if site.enableToast == true -%}
      {%- include partials/toast.html -%}
    {%- endif -%}
    {%- if site.nav_enabled == true -%}
      {%- include partials/nav.html -%}
    {%- endif -%}
    <!-- <div id="darkModeToggle">
      <span id="enableDarkMode" onclick="setDarkMode('true')">{{site.data.icons.sun}}</span>
      <span id="disableDarkMode" class="d-none" onclick="setDarkMode('false')">{{site.data.icons.sun}}</span>
    </div> -->

    <!-- Header -->
    <header class="bg-blue-dark">
      <div class="container pt-3 pb-5 mt-2 mb-5 text-center text-white">
        <h1 class="display-5 fw-bold text-capitalize mt-5">{{page.title}}
          <a id="pageLink"
            onclick="copyText('{{site.url}}{{page.url}}', this.id)"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Copied!" data-bs-trigger="click">
            {{site.data.icons.link}}
          </a>
          <!-- <span id="claim{{forloop.index}}" class="copy" onclick="copyText('{{site.url}}{{claim.url}}', this.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Copied!" data-bs-trigger="click">{{site.data.icons.link}}</span> -->
        </h1>
        {%- assign validity_status = "falsy" -%}
        {%- assign validity_color = 'warning' -%}
        {%- if page.validity == true -%}
          {%- assign validity_status = "true" -%}
          {%- assign validity_color = 'success' -%}
        {%- elsif page.validity == false -%}
          {%- assign validity_status = "fud" -%}
          {%- assign validity_color = 'danger' -%}
        {%- endif -%}
        <div class="col-lg-7 mx-auto">
          <p class="lead mb-4">
            <span class="validity me-2 text-uppercase fst-italic fw-semibold text-{{validity_color}} border-bottom border-2 border-{{validity_color}} pb-1">{{validity_status}}</span>
          </p>
        </div>
      </div>
    </header>

    <!-- Content -->
    <section class="markdown">
      <div class="container py-5">
        <div class="row justify-content-center" style="margin-top: -8rem;">
          <div class="col-12">
            <div class="card rounded-3 mx-auto bg-blue" style="max-width: 40rem;">
              <div class="card-body m-3">
                {{content | markdownify}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- include partials/footer.html -%}
    <!-- Bootstrap 5 JS -->
    {{site.bootstrap_js}}
    <!-- Custom JS -->
    <script src="/assets/js/main.js" type="application/javascript"></script>
    {%- case page.name -%}
      {%- when "custom.md" -%}
         <script src="/assets/js/custom.js" type="application/javascript"></script>
      {%- else -%}
    {%- endcase -%}
  </body>
</html>

