<!DOCTYPE html>
<html lang="en" class="bg-blue-dark">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column min-vh-100 bg-blue-dark">

    {%- if site.enableNotification == true -%}
      {%- include partials/notification.html -%}
    {%- endif -%}
    {%- if site.enableToast == true -%}
      {%- include partials/toast.html -%}
    {%- endif -%}
    {%- if site.nav_enabled == true -%}
      {%- include partials/nav.html -%}
    {%- endif -%}


    <!-- Header -->
    <header class="bg-blue-dark">
      <div class="container pt-3 pb-5 mt-2 mb-5 text-center text-white">
        {%- if page.header -%}
          <h1 class="display-5 fw-bold text-capitalize mt-5">{{page.header}}</h1>
        {%- elsif page.title -%}
        <h1 class="display-5 fw-bold text-capitalize mt-5">{{page.title}}</h1>
        {%- endif -%}
        {%- if page.subheader -%}
          <div class="col-lg-7 mx-auto">
            <p class="lead mb-4">{{page.subheader}}</p>
          </div>
        {%- endif -%}
        {%- if page.note -%}
          <div class="mb-2">
            <small><em>{{page.note}}</em></small>
          </div>
        {%- endif -%}
      </div>
    </header>


    <!-- Content -->
    {%- if page.content != "" -%}
      <section class="markdown">
        <div class="container py-5">
          <div class="row justify-content-center" style="margin-top: -8rem;">
            <div class="col-12">
              <div class="card rounded-3 mx-auto bg-blue" style="max-width: 40rem;">
                <div class="card-body m-3">
                  {{content | markdownify}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {%- endif -%}


  	{%- include partials/footer.html -%}
    <!-- Bootstrap 5 JS -->
    {{site.bootstrap_js}}
    <!-- Custom JS -->
  	<script src="/assets/js/main.js" type="application/javascript"></script>
    {%- case page.name -%}
      {%- when "custom.md" -%}
         <script src="/assets/js/custom.js" type="application/javascript"></script>
      {%- else -%}
    {%- endcase -%}
  </body>
</html>